# local package
-e .

# external requirements
numpy
pandas
dask[complete]
jinja2
matplotlib
seaborn
dask[diagnostics]
graphviz
ipycytoscape
scikit-learn
mlflow
xgboost
dagshub
optuna
plotly
streamlit
pytest
dvc[s3]